@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 30s linear infinite;
}

@keyframes floating {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0px); }
}

.floating-photo {
  animation: floating 6s ease-in-out infinite;
}

.photo-box {
  width: 280px;
  height: 280px;
}

@media (min-width: 768px) {
  .photo-box {
    width: 350px;
    height: 350px;
  }
}

.profile-card-3d {
  width: 18rem;
  height: 24rem;
  border-radius: 1.5rem;
  border: 1px solid rgba(34,211,238,0.2);
  box-shadow: 0 25px 50px -12px rgba(0,0,0,0.7);
  background: linear-gradient(
    135deg,
    rgba(34,211,238,0.12),
    transparent
  );
}




body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px;
}
